<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body dark-bg">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="strong mtn">{{ product.title }}</h3>
                    {{ product.description }}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
