<aside class="container-fluid h100">
    <div class="row h100">
        <div class="col-xs-12 col-sm-4 col-sm-offset-8 h100" id="product">
        </div>
    </div>
</aside>

<form action="/cart/add" method="post" class="hide">
  <div id="product-variants">
      <div id="price-field"></div>
      <select id="product-select" name="id" class="form-control">
        {% for variant in product.variants %}
          <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
        {% endfor %}
      </select>
  </div>
  <button type="submit" name="add" value="Purchase" id="purchase" class="btn btn-primary">Buy</button>
</form>

<!-- Tags -->
{% for tag in product.tags %}
    {% include tag %}
{% endfor %}

{% include 'size-modal' %}
{% include 'color-modal' %}
{% include 'info-modal' %}

{% include 'related-products' %}
